<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertainment Forum</title>
    <!-- <link rel="shortcut icon" href="media/entertainment_symbol.png" type="image/png"> -->
    <link rel="shortcut icon" href="../../public/media/img/arc_reactor.png" type="image/png">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/games">Games</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/tvShows">TV Shows</a></li>
            </ul>
        </nav>
    </header>
    <h1>LOGIN</h1>
  
    <p class = "login">Username:</p>
    <p class = "login">Password:</p>

    <footer>
        
    </footer>
</body>
</html>